{% extends "base.html" %}
{% block title %}Recommendation Output{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<h3>The artist you submitted:</h3>
<h4>
    {{cluster_info['new_data']['artist']}}
</h4>
<h3>Belongs to the following:</h3>
<h4>
    <strong>Topic:</strong> {{cluster_info['new_data']['topic_label']}}
</h4>
<h4>
    <strong>Genre:</strong> {{cluster_info['new_data']['genre_label']}}
</h4>
<h4><strong>Most Frequent Words</strong></h4>
<p>{{cluster_info['new_data']['frequent_words']}}</p>
<h3 class="please">Please evaluate the recommendations given to you.</h3>
<form class="evaluation-form" method="post" action="/evaluation" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_field(form.email) }}
    {% for key, value in cluster_info.iteritems() %}
        {% if key != 'new_data' %}
            <div class="evaluation">
                <div class="data">
                    <h6><strong>Album:</strong> {{value['album']}}</h6>
                    <h6><strong>Artist:</strong> {{value['artist']}}</h6>
                    <h6><strong>Song:</strong> {{value['name']}}</h6>
                    <h6><strong>Year:</strong> {{value['year']}}</h6>
                    <h6><strong>Lyrics</strong></h6>
                    <p>
                        {% for line in value['lyrics'] %}
                            {{ line }}
                        {% endfor %}
                    </p>
                </div>
                <div class="switch">
                    {% set index = loop.index0 - 1 %}
                    <label>
                        Meh...
                        {{ render_field(eval_fields[index]) }}
                        <span class="lever"></span>
                        I like it!
                    </label>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="waves-effect waves-light btn submit-eval" name="submit">Submit Evaluation
        <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}
