{% extends "base.html" %}
{% block title %}Submit Lyrics{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<h1>Metal Lyric Recommendation</h1>
<h2>Submit the lyrics to a song and receive recommendations of other songs!</h2>
<form class="upload-form" method="post" action="/" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_field(form.lyrics) }}
    <button type="submit" class="waves-effect waves-light btn" name="submit">Send Lyrics
        <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}
